<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div>
       
    
        <form action="/submit" method="post"><div class="inner">
            <label>Enter Roll No.</label>
            <input type="number" name="input" placeholder="Roll No." required>
            <button class="btn" type="submit" value="submit">Submit</button>
        </form></div>

        <% if(locals.name){ %>
        <p>Name :<%= name.Name %></p>
        <p>RollNo:<%=name._id  %></p>
        <p>Status:<%=name.Status %></p>
        <p>Branch:<%=name.Branch %></p>
        <p>Father Name:<%=name.FatherName %></p>
    <% }else{ %>
        <p>Data Not Found</p>
        <% } %>
    </div>
</body>
</html>
